<%- include("partials/header"); -%>
    <div class="wrap">
    <h1>About</h1>
    <br>
    <%abouts.forEach(function(about){ %>
   	 <p><%=about%></p>
    <% }) %>
    </div>
<%- include("partials/footer"); -%>
