<%- include("partials/header"); -%>

<div class="wrap">
    <h1>Contact</h1>
    <br>
    <%  contacts.forEach(function(contact){ %>
   	 <p><%=contact%></p>
    <% }) %>
</div>


<%- include("partials/footer"); -%>
