<%- include('partials/header1') %>

    <body class="rg">

        <% if(popshow==1){%>
            <b style="background-color: red;color: white; padding-left: 5px;">
                <font>You Might Have Forgot Your Password ! </font>
            </b>
            <%}%>

                <div class="container mt-5">
                    <h1>Reset Password </h1><br>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-body">

                                    <!-- Makes POST request to /login route -->
                                    <form action="/forgetPassword" method="post">
                                        <div class="form-group">
                                            <label for="text">Enter Registered Full Name</label>
                                            <input type="text" class="form-control" name="username" autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Enter New Password</label>
                                            <input type="password" class="form-control " name="password1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Confirm Password</label>
                                            <input type="password" class="form-control " name="password2" required>
                                        </div>
                                        <button type="submit" class="btn btn-success ">submit</button>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

                    </div>
                </div>

                <%- include('partials/footer') %>