<%- include('partials/header1') %>

<body class="bg">
<div class="jumbotron centered bg" >
  <div class="container" >
    <i class="fas fa-book-reader fa-4x"></i>
    <h1 class="display-3 ">My Personal Journal</h1>
    <p class="lead">Wanna save something, How about creating notes !</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-danger btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
